@model MyContacts.Models.Contact
@{
    ViewBag.Title = ViewBag.Action;
}

<form asp-action="AddEdit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input class="form-control" id="floatingFirstName" asp-for="FirstName" placeholder="First Name">
        <label for="floatingFirstName">First Name</label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" id="floatingLastName" asp-for="LastName" placeholder="Last Name">
        <label for="floatingLastName">Last Name</label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" id="floatingPhoneNumber" asp-for="PhoneNumber" placeholder="Phone Number">
        <label for="floatingPhoneNumber">Phone Number</label>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input class="form-control" id="floatingEmail" asp-for="Email" placeholder="Email">
        <label for="floatingEmail">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <select asp-for="CategoryId" class="form-select" aria-label="Category">
            <option value="">Select Category</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="ContactId" />
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
</form>
