<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/12264170-9ee6-4391-bce0-5f04e4499af0/resourceGroups/ContactG26_group/providers/Microsoft.Web/sites/ContactG26</ResourceId>
    <ResourceGroup>ContactG26_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://contactg26.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://contactg26.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ContactG26</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>